@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: inline-flex;    
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    height: 58px;
}

.active{
    color: #0000ff;
    font-weight: bolder;
    font-size: 25px;
}

.headerLinks{
    font-size: 20px;
    color: blue;
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
}

@media screen and (max-width: 370px){
    .headerLinks{
    font-size: 14.5px;
    color: blue;
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
    }  
    .headerLinks:hover{
    font-size: 14.5px;
    color: #3c00a5;
    text-decoration: none;
    margin: 5px;
    }
    .active{
    color: #0000ff;
    font-weight: bolder;
    font-size: 22px;
    }
}

.headerLinks:hover{
    font-size: 20px;
    color: #3c00a5;
    text-decoration: none;
    margin: 5px;
}

.body{
    margin: 0;
}

.part1{
    height: 94vh;
    width: 99%;
    padding: 58px 0 0;
}

.main{
    font-size: 50px;
    font-weight: bolder;
    color: #004eff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job{
    margin: 1px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.blueButtonBox{
    width: 100%;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.blueButton1{
    color: black;
    border: solid 4px blue;
    height: 70px;
    width: 250px;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 17px;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 8px;
}

.blueButton1:hover{
    box-shadow: 0 0 8px #636363;
    background-color: blue;
    color: white;
    height: 90px;
    width: 290px;
    margin: 7px;
    border-radius: 10px;
    padding: 20px;
}

.part6{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.part2{
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.title{
    color: #004eff;;
    font-weight: bolder;
    font-size: 50px;

}

.branchA{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-size: 20px;
    margin: 30px;
}

.branchTitleA{
    font-size: 22px;
    font-weight: 700;
}

.branchTextA{
    font-size: 17px;
    margin: 0 2px 0 0;
}

.branchA1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.branchA1:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.branchA1N{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.branchA1N:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 40px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.branchA2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.branchA2:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.branchA3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.branchA3:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

#branchAIcons{
    font-size: 45px;
    color: blue;
}

.part3{
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.branchB{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-size: 20px;
    margin: 30px;
    width: 88%;
}

.branchPotoB{
    height: 180px;
    width: auto;
    border: solid lightgrey 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #7a7a7a;
}

.branchB1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 18px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    background-color: white;
}

.branchB1:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 28px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.branchB2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 18px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    background-color: white;
}

.branchB2:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 28px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.branchFullB{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.branchTextB{
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 255px;
}

.branchTitleB{
    font-size: 24px;
    font-weight: 600;
    color: #6a6aff;
}

.visitButton{
    color: black;
    font-weight: 600;
    text-decoration: none;
    background: white;
    border: solid blue 4px;
    border-radius: 8px;
    padding: 0px 5px;
    transition: ease-in-out;
    transition-duration: 0.6s;
}
.visitButton:hover{
    color: white;
    background: blue;
    padding: 0.5px 8px;
}

.branchB3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 18px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    background-color: white;
}

.branchB3:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 28px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}   

.blueButton2{
    color: black;
    border: solid 4px blue;
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 30px;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueButton2:hover{
    box-shadow: 0 0 8px #636363;
    background-color: blue;
    color: white;
    height: 60px;
    width: 170px;
    margin: 20px;
    border-radius: 10px;
    padding: 0px;
}

.part4{
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.part5{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #eff8ff;
    width: 100%;
}

.branchTextC{
    font-size: 16px;
}

.branchC{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-size: 20px;
    margin: 30px;
}

.branchC1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    background: #f5fbff;
}

.branchC1:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.fa-phone:before {
    font-size: 60px;
    color: blue;
}

.branchC2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    background: #f5fbff;
}

.branchC2:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.fa-envelope:before {
    font-size: 60px;
    color: blue;
}

.branchC3{
    background: #f5fbff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    margin: 17px;
    height: 300px;
    transition: 0.7s;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.branchC3:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 11px #c3c3c3;
    padding: 60px;
    border-radius: 8px;
    width: 320px;
    margin: 7px;
    height: 320px;
}

.fa-whatsapp:before {
    font-size: 60px;
    color: blue;}

footer{
    background-color: #00020e;
    color: white;
    display: inline-flex;
    align-items: center;
    align-content:stretch;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    height: 14vh;
}

#whatsappIcon::before{
    font-size: 25px;
    color: white;
    margin: 3px;
}

#whatsappIcon::before:hover{
    font-size: 40px;
    margin: 1px;
}

#facebookIcon::before{
    color: white;
    margin: 3px;
    font-size: 25px;
}

#emailIcon::before{
    font-size: 25px;
    color: white;
    margin: 3px;
}

#instgramIcon::before{
    color: white;
    margin: 3px; 
    font-size: 25px;
}

@media screen and (max-width: 1010px){
    .job{
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    }  
    
    .branchA{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .branchB{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .branchC{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .part2{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .part3{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .part4{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .part5{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .headerLinks{
        margin: 1.2px;
    }

    .blueButtonBox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}

@media screen and (max-width: 392px){
    .headerLinks{
        font-size: 18px;
    }
}

@media screen and (max-height: 630px){
    .part2{
        margin: 0 0 50px 0;
    }
    
    .part3{
        margin: 0 0 50px 0;
    }
    
    .part4{
        margin: 0 0 50px 0;
    }
    
    .part5{
        margin: 0 0 0 0;
    }
}
